/* =================================================================== 
 *
 *  AHM v1.0 Main Stylesheet
 *  01-08-2017
 *  ------------------------------------------------------------------
 *
 *  TOC:
 *  01. webfonts and iconfonts
 *  02. base style overrides
 *  03. typography & general theme styles
 *  04. preloader
 *  05. forms
 *  06. buttons
 *  07. other components
 *  08. common and reusable theme styles
 *  09. header styles
 *  10. home
 *  11. about
 *  12. pricing 
 *  13. testimonials
 *  14. download
 *  15. footer styles
 *  16. Banner Styles
 *
 * =================================================================== */


/* ===================================================================
 *  01. webfonts and iconfonts - (_document-setup)
 *
 * ------------------------------------------------------------------- */


@import url("fonts.css");


/* ===================================================================
 *  02. base style overrides - (_document-setup)
 *
 * ------------------------------------------------------------------- */

html {
  font-size: 10px;
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 9.375px;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 9.375px;
  }
}

html,
body {height: 100%;}
body {font-family: "GillSans", sans-serif; font-size: 18px; line-height: 24px; color: #000; margin: 0; padding: 0;  text-align:center;}
a, a:visited {-webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
h1, h2, h3, h4, h5, h6 {font-family: "GillSans-SemiBold", sans-serif;  font-style: normal;  text-rendering: optimizeLegibility; margin-bottom: 50px;
  text-transform:uppercase;}
h1 {font-size: 24px; line-height:24px; padding:55px 0 10px;}

@media only screen and (max-width: 600px) {
  h1 {font-size: 2.6rem;  letter-spacing: -.07rem;}
}

h2 {
  font-size: 2.4rem;
  line-height: 1.25;
}
h3 {
  font-size: 2rem;
  line-height: 1.5;
}
h4 {
  font-size: 1.7rem;
  line-height: 1.76;
}
h5 {
  font-size: 1.4rem;
  line-height: 1.7;
  text-transform: uppercase;
  letter-spacing: .2rem;
}
h6 {
  font-size: 1.3rem;
  line-height: 1.85;
  text-transform: uppercase;
  letter-spacing: .2rem;
}

p img {
  margin: 0;
}


/* ------------------------------------------------------------------- 
 * block grids paddings
 * ------------------------------------------------------------------- */

.bgrid {
  padding: 0 20px;
}

@media only screen and (max-width: 1024px) {
  .bgrid {
    padding: 0 18px;
  }
}

@media only screen and (max-width: 768px) {
  .bgrid {
    padding: 0 15px;
  }
}

@media only screen and (max-width: 600px) {
  .bgrid {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 400px) {
  .bgrid {
    padding: 0;
  }
}





/* ------------------------------------------------------------------- 
 * pace.js styles
 * ------------------------------------------------------------------- */

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  width: 150px;
  background: #dedede;
  overflow: hidden;
}

.pace .pace-progress {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  max-width: 150px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: #39b54a;
}

.pace.pace-inactive {
  display: none;
}

.oldie .pace {
  display: none;
}


/* ===================================================================
 *  04. preloader - (_preloader-blank.scss)
 *
 * ------------------------------------------------------------------- */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  z-index: 800;
  height: 100%;
  width: 100%;
}

.no-js #preloader,
.oldie #preloader {
  display: none;
}







.wide {
  max-width: 1300px;
}

.narrow {
  max-width: 800px;
}



/* ===================================================================
 *  09. header styles - (_site-layout.scss)
 *
 * ------------------------------------------------------------------- */

#header {width: 100%; height: 89px!important; background-color: #000; position: fixed; top:0;  z-index: 501;
  -webkit-transition: background-color .3s ease-out;
  -moz-transition: background-color .3s ease-out;
  -o-transition: background-color .3s ease-out;
  transition: background-color .3s ease-out;}
.header-logo {-webkit-transition: all 1s ease-in-out; transition: all 1s ease-in-out; z-index: 501; display:block; max-width:185px; padding-top:15px; float:left;}
.header-logo a {display: block;  margin: 0; padding: 0; outline: 0; border: none; width: 185px; height: 59px; text-shadow: none; color: transparent;
  -webkit-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out;}


/* ------------------------------------------------------------------- 
 * menu trigger - (_site-layout.css) 
 * ------------------------------------------------------------------- */

.header-menu-toggle {
  display: none;
  position: fixed;
  right: 32px;
  top: 25px;
  height: 42px;
  width: 42px;
  line-height: 42px;
  font-family: "GillSans", sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header-menu-toggle:hover,
.header-menu-toggle:focus {
  color: #FFFFFF;
}

.header-menu-toggle span {
  display: block;
  width: 24px;
  height: 2px;
  margin-top: -1px;
  position: absolute;
  left: 9px;
  top: 50%;
  right: auto;
  bottom: auto;
  background-color: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

.header-menu-toggle span::before,
.header-menu-toggle span::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: inherit;
  position: absolute;
  left: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header-menu-toggle span::before {
  top: -9px;
}

.header-menu-toggle span::after {
  bottom: -9px;
}

.header-menu-toggle.is-clicked span {
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.header-menu-toggle.is-clicked span::before,
.header-menu-toggle.is-clicked span::after {
  background-color: white;
}

.header-menu-toggle.is-clicked span::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.header-menu-toggle.is-clicked span::after {
  bottom: 0;
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
}


/* ------------------------------------------------------------------- 
 * navigation - (_layout.scss) 
 * ------------------------------------------------------------------- */

#header-nav-wrap {font-family: "GillSans", sans-serif; font-size: 18px; float:right;}

#header-nav-wrap .header-main-nav {
  display: inline-block;
  list-style: none;
 /* height: 89px;*/
  margin: 0;
}

#header-nav-wrap .header-main-nav li {
  display: inline-block;
  padding-left: 0;
  margin-right: 3rem;
}

#header-nav-wrap .header-main-nav li a {
  display: block;
  line-height: 89px;
}

#header-nav-wrap .header-main-nav li a,
#header-nav-wrap .header-main-nav li a:visited {
  color: rgba(255, 255, 255, 1);
}

#header-nav-wrap .header-main-nav li a:hover,
#header-nav-wrap .header-main-nav li a:focus {
  color: #ffffff;
}

#header-nav-wrap .header-main-nav li.current a {
  color: #ffffff;
}

#header-nav-wrap .cta {
  height: 3.6rem;
  line-height: calc(3.6rem - .6rem);
  padding: 0 1.5rem;
  font-family: "montserrat-medium", sans-serif;
  font-size: 14px;
  text-transform: none;
  letter-spacing: normal;
  margin: 0;
}


/* ------------------------------------------------------------------- 
 * responsive:
 * header
 * ------------------------------------------------------------------- */

@media only screen and (max-width: 1230px) {
  #header {
    max-width: none;
  }
}

@media only screen and (max-width: 768px) {
/*  .header-logo a {
    width: 88px;
    height: 20px;
    background-size: 88px 20px;
  }*/
  #header-nav-wrap {
    display: none;
    height: auto;
    width: 100%;
    right: auto;
    left: 0;
    background-color: #111111;
	position: absolute;
    top: 89px;
    /*padding: 120px 40px 54px;*/
  }
  #header-nav-wrap .header-main-nav {
    display: block;
    height: auto;
    /*margin: 0 0 4.2rem 0;*/
    border-top: 1px solid rgba(255, 255, 255, 0.03);
  }
  #header-nav-wrap .header-main-nav li {
    display: block;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.03);
  }
  #header-nav-wrap .header-main-nav li a {
    padding: 18px 0;
    line-height: 18px;
  }
  #header-nav-wrap .cta {
    height: 42px;
    line-height: calc(42px - .6rem);
    padding: 0 30px;
  }
  .header-menu-toggle {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  #header-nav-wrap .cta {
    display: block;
    padding: 0 20px;
  }
}

@media only screen and (max-width: 400px) {
  .header-menu-toggle {
    right: 24px;
  }
}


/* -------------------------------------------------------------------
 * make sure the menu is visible on larger screens
 * ------------------------------------------------------------------- */

@media only screen and (min-width: 769px) {
  #header-nav-wrap {
    display: inline-block !important;
  }
}



/* ===================================================================
 *  10. home - (_site-layout.scss)
 *
 * ------------------------------------------------------------------- */

#home, #real-estate, #fandb, #investments, #contacts {width: 100%; background-color: transparent;  position: relative;  display: table;}
#contacts [class*="col-"]{padding:0!important;}
.ahmpara, .repara, .fandbpara, .investpara{width:90%; max-width:700px; margin:0 auto;}
.repara, .fandbpara, .investpara{ color:#fff; padding:30px; -webkit-box-sizing:border-box; box-sizing:border-box}
.toggleContent{display:none; max-width:690px; margin:0 auto;}
.toggleTitle a{text-transform:uppercase; width:250px; border-bottom:solid 1px #000; border-top:solid 1px #000; color:#000; font-size:18px; font-family:"GillSans-SemiBold", sans-serif; display:block; margin:20px auto; padding:15px 0; line-height:24px; position:relative;}
.toggleTitle a:hover{background:#000; color:#fff;}
.activetoggle a{background:#000; color:#fff;}

.toggleTitle a:after{background:url(../images/arrow-black.png) no-repeat; position: absolute; content: ''; width: 11px; height:7px; display: block; 
right: 15px; top: 22px;}
.toggleTitle a:hover:after{background:url(../images/arrow-white.png) no-repeat;}
.activetoggle a:after{background:url(../images/arrow-white.png) no-repeat;}
h1.homeheading{color:#000; border-bottom:solid 1px #000;}
h1.reheading{color:#ff6600; border-bottom:solid 1px #ff6600;}
h1.fandbheading{color:#558ed5; border-bottom:solid 1px #558ed5;}
h1.investheading{color:#008000; border-bottom:solid 1px #008000;}
h1.contactheading{color:#e9b338; border-bottom:solid 1px #e9b338;}
.repara{background:#ff6600;}
.fandbpara{background:#558ed5;}
.investpara{background:#008000;}


#css-table {overflow: hidden;}
#css-table .col {margin-bottom: -99999px; padding-bottom: 99999px; width:50%; float:left;}
.contact-left{background:#e9b338; color:#fff;}
.contact-left p{padding:50px 0;}
@media only screen and (max-width: 690px) {
	#css-table .col{width:100%; float:none;}
}



.no-js #home {
  background: #151515;
}

.home-content {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align:middle;
  padding:89px 0 0;
}








/* scroll down */

.home-scrolldown {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  float: right;
}

.home-scrolldown i {
  padding-left: 9px;
}

.home-scrolldown a:hover,
.home-scrolldown a:focus {
  color: #44c455 !important;
}

html[data-useragent*='MSIE 10.0'] .home-scrolldown,
.oldie .home-scrolldown {
  display: none;
}

.scroll-icon {
  display: inline-block;
  font-family: "montserrat-medium", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  color: #FFFFFF !important;
  background: transparent;
  position: relative;
  top: 36px;
  right: 42px;
  -webkit-animation: animate-it 3s ease infinite;
  animation: animate-it 3s ease infinite;
}
.ss-prev, .ss-next {
    display: none;
}
.scroll-icon i {
  font-size: 2.4rem;
  position: relative;
  bottom: -6px;
}


/* vertical animation */

@-webkit-keyframes animate-it {
  0%,
  60%,
  80%,
  100% {
    -webkit-transform: translateX(0);
  }
  0%,
  60%,
  80%,
  100% {
    transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(-5px);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    -webkit-transform: translateX(20px);
  }
  40% {
    transform: translateX(20px);
  }
}

@keyframes animate-it {
  0%,
  60%,
  80%,
  100% {
    -webkit-transform: translateX(0);
  }
  0%,
  60%,
  80%,
  100% {
    transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(-5px);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    -webkit-transform: translateX(20px);
  }
  40% {
    transform: translateX(20px);
  }
}


/* ------------------------------------------------------------------- 
 * responsive:
 * home section 
 * ------------------------------------------------------------------- */

@media only screen and (max-width: 1300px) {
  .home-image-right {
    right: 5rem;
  }
}

@media only screen and (max-width: 1200px) {
  #home {
    overflow: hidden;
  }
  .home-content {
    vertical-align: middle;
  }
  .home-content-left {
    padding: 18rem 0 12rem 40px;
  }
  .home-content-left h3 {
    font-size: 1.5rem;
  }
  .home-content-left h1 {
    font-size: 4.8rem;
  }
  .home-image-right {
    padding-top: 18rem;
  }
  .home-image-right img {
    vertical-align: top;
    width: 70%;
  }
}



@media only screen and (max-width: 900px) {
  #home {
    height: auto;
    min-height: 840px;
  }
  #home,
  .home-content {
    display: block;
    text-align: center;
  }
 
}

@media only screen and (max-width: 768px) {
  #home {
    min-height: auto;
  }
  
}

@media only screen and (max-width: 600px) {
 
  .scroll-icon {
    top: 21px;
  }
}

@media only screen and (max-width: 500px) {
  .home-social-list,
  .home-scrolldown {
    display: none;
  }
  
}





/* ===================================================================
 *  15. footer styles - (_site-layout.scss)
 *
 * ------------------------------------------------------------------- */

footer {
  padding:30px 0;
  width:100%; background:#33363b;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}




/* ------------------------------------------------------------------- 
 * go to top
 * ------------------------------------------------------------------- */

#go-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 600;
  display: none;
}

#go-top a,
#go-top a:visited {
  text-decoration: none;
  border: 0 none;
  display: block;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  background: black;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#go-top a i,
#go-top a:visited i {
  font-size: 18px;
  line-height: inherit;
}

#go-top a:hover,
#go-top a:focus {
  color: #FFFFFF;
}


/* ------------------------------------------------------------------- 
 * responsive:
 * footer 
 * ------------------------------------------------------------------- */


@media only screen and (max-width: 768px) {
  
  #go-top {
    bottom: 0;
    right: 0;
  }
  #go-top a,
  #go-top a:visited {
    border-radius: 5px 0 0 0;
  }
}

.clearboth{clear:both;}
/*# sourceMappingURL=main.css.map */
/* 16. Banner Style */
.smoothslides, .smoothslides-on {position:relative;	font-size:0;	line-height: 0;	min-height: 40px;	border-radius: 6px; max-width:100%!important;}
.smoothslides {	background:rgba(255,255,255,.5);}/* Outer Container Background (visible while loading) */
/* Hide images until loaded */
.smoothslides img {display:none;}

/* Loading animation keyframes */ 
@keyframes throb {
	0% {
		opacity:0;
		transform:scale(1);
	}
	50% {
		opacity:1;
		transform:scale(.2);
	}
	100% {
		opacity:0;
		transform:scale(1);
	}
}
@-webkit-keyframes throb {
	0% {
		opacity:0;
		-webkittransform:scale(1);
	}
	50% {
		opacity:1;
		-webkittransform:scale(.2);
	}
	100% {
		opacity:0;
		-webkittransform:scale(1);
	}
}
/* Loading animation */
.smoothslides:before {
	content:'';
	position: absolute;
	width:8px;
	height:8px;
	left:50%;
	top:50%;
	margin-left:-4px;
	margin-top:-4px;
	
	animation: throb 1s infinite;
	-webkit-animation: throb 1s infinite;
}

/* wrapper around all slides */
.ss-slide-stage {
	position: relative;
	overflow: hidden;
	
}

/* wrapper around each slide */
.ss-slide {
	position: absolute;
	top:0;
	left:0;
	transform-origin:center;
	display: block;
	width:100%;
	zoom: 1;
}
.ss-slide img{
	height:auto;
	/* max-width, or width gets set via JS */
}
/* Caption wrapper. Used for centering */
.ss-caption-wrap {
	position: absolute;
	bottom:0;
	width:100%;
	padding:0 5px 5px 5px;
	text-align:center;
	box-sizing:border-box;
}

/* Caption */
.ss-caption {
	min-height:50px;
	background:rgb(255,255,255);
	background: rgba(255, 255, 255, 0.87);
	color: #5A5A5A;
	text-shadow: 0 0 10px #fff;
	font-size:14px;
	font-weight: bold;
	line-height: 1.4em;
	
	padding-top:15px;
	box-sizing:border-box;
	font-family: Veranda, sans-serif;
}

/* Previous and Next buttons */
.smoothslides-on a.ss-prev, .smoothslides-on a.ss-next {
	position: absolute;
	bottom:5px;
	left:5px;
	font-size:14px;
	line-height: 1em;
	color:#A1A1A1;
	text-decoration: none;
	background:#fff;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	border-radius: 3px;
	opacity:.5;
	transition:.2s ease-out;
	font-family: sans-serif;
}

.smoothslides-on  a.ss-next {
	left:auto;
	right:5px;
}
/* Highlight nav btns when hovering over the slideshow */
.smoothslides-on:hover .ss-prev, .smoothslides-on:hover .ss-next {
	opacity: 1;
}

.smoothslides-on .ss-prev:hover, .smoothslides-on .ss-next:hover {
	background:#fff;	
	color:#000;
}

/* Pagination wrapper. Used for centering */
.ss-paginate-wrap {
	position: absolute;
	bottom:-30px;
	width:100%;
	text-align:center;
}
.ss-paginate {
	display: inline-block;
	line-height: 0;
}
/* Pagination dots */
.ss-paginate a:link, .ss-paginate a:visited {
	display: inline-block;
	width: 16px;
	height: 4px;
	border-radius: 10px;
	margin: 0 5px;
	background:#ccc;
	background: rgba(0,0,0,.1);
	border: 2px solid #fff;
	transition: .3s;
}
.ss-paginate a:hover {
	background:#ddd;
	background:rgba(0,0,0,.3);
}
.ss-paginate a.ss-paginate-current {
	background:#000;
	background: rgba(0,0,0,.5);
}

/* changes for smaller screens */
@media (max-width: 600px) {
	.ss-paginate-wrap {
		bottom:-35px;
	}
	.ss-caption {
		min-height:0;
		padding:5px;
		font-size:12px;
	}
	a.ss-prev, a.ss-next {
		bottom:auto;
		top:50%;
		margin-top:-25px;
		color:#000;
		background:rgba(255,255,255,.3);
		color:#444;
	}
	.smoothslides-on, .ss-slide-stage {
		border-radius:0;
	}
}
.home{background-color:#000!important;}
.real-estate{background-color:#ff6600!important;}
.fandb{background-color:#558ed5!important;}
.investments{background-color:#008000!important;}
.contacts{background-color:#e9b338!important;}
